<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>病院予約画面</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
<link rel="stylesheet" th:href="@{/css/han.css}"
	href="../static/css/han.css">
<link rel="stylesheet" th:href="@{/css/button.css}"
	href="../static/css/buttan.css">
<link rel="stylesheet" th:href="@{/css/table.css}"
	href="../static/css/table.css">
</head>

<body>
	<!-- 共通ヘッダ -->
	<header
		style="background: url('https://www.sozailab.jp/db_img/sozai/59040/7810c966292d01f519def4999176278d.jpg'); height: 135px;">
		<label style="font-size: 45px; margin-top: 0px; margin-left: 10px;">病院予約</label><br>
		<label style="font-size: 45px; margin-left: 10px;">システム</label>
	</header>
	<div style="width: 100%">
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
	</div>

	<!-- ハンバーガーメニュー -->
	<input type="checkbox" id="check">
	<span class="span1 han_span"></span>
	<span class="span2 han_span"></span>
	<span class="span3 han_span"></span>
	<label class="han_label" for="check"></label>
	<ul>
		<li><a href="/logout" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>logout</span></a></li>
		<li><a href="/" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>トップ画面へ</span></a></li>
		<li><a href="" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>ほにゃらら機能へ</span></a></li>
	</ul>

	<!-- コンテンツ -->
	<h2 style="opacity: 0.8; font-size: 35px;" class="h2_main">
		<b>病院予約</b>
	</h2>

	<form method="post" th:action="@{/reservationsSave}"
		th:object="${form}" name="insert">


		<table class="table table_box box" border="1"
			style="border-collapse: collapse; width: 90%; font-size: 20px;">
			<tr bgcolor="black" style="width: 90%">
				<th colspan="2" style="color: #FFF;">病院情報</th>
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">病院名</th>
				<td class="text-nowrap" th:text="${hmForm.hospital_name}">
					<input type="hidden" name="hospital_id" th:value="${hmForm.hospital_id}">
					<input type="hidden" name="hospital_name" th:value="${hmForm.hospital_name}">
				</td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">診療科名</th>
				<td class="text-nowrap" th:text="${hmForm.medical_name}">
					<input type="hidden" name="medical_id" th:value="${hmForm.medical_id}">
					<input type="hidden" name="medical_name" th:value="${hmForm.medical_name}">
				</td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">予約可能人数</th>
				<td class="text-nowrap" th:text="${hmForm.reservations_count}">
					<input type="hidden" name="reservations_count" th:value="${hmForm.reservations_count}">
				</td>
			</tr>
		</table>
		<table class="table table_box box" border="1"
			style="border-collapse: collapse; width: 90%; font-size: 20px;">
			<tr bgcolor="black" style="width: 90%">
				<th colspan="2" style="color: #FFF;">予約情報</th>
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">予約時間</th>
				<td class="text-nowrap">
					<div>
  						<label for="date">日付：</label>
  						<input type="date" name="date" id="date">
					</div>
					<div>
  						<label for="time">時刻：</label>
  						<input type="time" name="time" id="time">
					</div>
				</td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">診療科選択</th>
				<td class="text-nowrap">
					<select name="medical_name">
						<option>選択してください</option>
						<option></option>
					</select>
				</td>
			</tr>
		</table>

	</form>





	<!-- 共通フッタ -->
	<footer style="height: 250px; background-color: #696969">
		<a href="#" class="btn btn-secondary"
			style="width: 100%; height: 50px; font-size: 25px;">↑</a><br> <br>
		<article>
			<div class="content" style="font-size: 15px">
				<p style="color: white; text-align: center;">学校法人電子開発学園
					北海道情報専門学校</p>
				<p style="color: white; text-align: center;">所在地： 〒003-0806
					北海道札幌市白石区菊水６条３丁目４−２８</p>
				<p style="color: white; text-align: center;">tel： 011-831-5511</p>
			</div>
			<div class="side">
				<img alt="/img/favicon.ico" src="/img/病院.png"
					style="width: 200px; height: 150px; margin-right: 30%">
			</div>
		</article>
	</footer>
</body>
</html>