<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>病院一覧画面</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
<link rel="stylesheet" th:href="@{/css/han.css}"
	href="../static/css/han.css">
<link rel="stylesheet" th:href="@{/css/button.css}"
	href="../static/css/buttan.css">
<link rel="stylesheet" th:href="@{/css/table.css}"
	href="../static/css/table.css">
</head>

<body>
	<!-- 共通ヘッダ -->
	<header
		style="background: url('https://www.sozailab.jp/db_img/sozai/59040/7810c966292d01f519def4999176278d.jpg'); height: 135px;">
		<label style="font-size: 45px; margin-top: 0px; margin-left: 10px;">病院予約</label><br>
		<label style="font-size: 45px; margin-left: 10px;">システム</label>
	</header>
	<div style="width: 100%">
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
		<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
	</div>

	<!-- ハンバーガーメニュー -->
	<input type="checkbox" id="check">
	<span class="span1 han_span"></span>
	<span class="span2 han_span"></span>
	<span class="span3 han_span"></span>
	<label class="han_label" for="check"></label>
	<ul>
		<li><a href="/logout" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>logout</span></a></li>
		<li><a href="/" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>トップ画面へ</span></a></li>
		<li><a href="" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>ほにゃらら機能へ</span></a></li>
	</ul>

	<!-- コンテンツ -->
	<br>
	<h2 style="opacity: 0.8; font-size: 35px;" class="h2_main">
		<b>病院一覧</b>
	</h2>

	<div class="flex">
		<form th:action="@{/hospitalList/search}" method="post" id="search">
			<div class="form-row align-items-center">
				<div class="col-xs-2">
					<input type="text" name="hospital_name" class="form-control mb-2"
						placeholder="病院名">
				</div>
				<div class="col-xs-2">
					<input type="text" name="address" class="form-control mb-2"
						placeholder="住所">
				</div>
				<div class="col-xs-2">
					<input type="text" name="medical_name" class="form-control mb-2"
						placeholder="診療科">
				</div>
				<div class="col-xs-2">
					<button type="submit" class="btn btn-primary mb-2">検索</button>
				</div>
			</div>
		</form>
	</div>


	<br>

	<p th:if="${message != null}" class="alert alert-danger"
		th:text="${message}" style="font-size: 15px;"></p>

	<form method="post"
		th:action="@{/reservationsSend}" th:Object="${hmForm}">
		<table class="table_box">
			<tbody th:each="hospital : ${HMEntity.hospital_medicalList}"
				th:object="${hospital}">
				<tr class="box">
					<th
						style="border-left: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">病院名</th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;"
						class="nowrap"><a style="color: #000000;"
						th:text="${hospital.hospital_name}"></a></td>
					<th
						style="border-left: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">住所


					</th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;"
						class="nowrap" th:text="${hospital.address}"></td>
					<th
						style="border-left: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">本日の予約状況</th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;"
						class="nowrap" th:text="${hospital.reservations_count}"></td>

				</tr>

				<tr class="box" id="makeImg">
					<th
						style="border-left: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">電話番号</th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;"
						class="nowrap" th:text="${hospital.phone_number}"></td>

					<th
						style="border-left: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">診療科</th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;"
						class="nowrap" th:text="${hospital.medical_name}"></td>


					<th style="font-size: 20px; border-bottom: solid 2px #c0c0c0;"><b>予約画面へ移動➔</b></th>
					<td
						style="border-right: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0;">
						<input type="hidden" th:value="${hospital.reservations_count}">
						<input type="hidden" th:value="${hospital.medical_name}">
						<input type="hidden" th:value="${hospital.hospital_name}">

						<button type="submit" class="btn btn-primary">予約</button>
					</td>
				</tr>

				<tr class="text-map box" id="makeImg">
					<th colspan="2"
						style="border-left: solid 2px #c0c0c0; border-right: solid 2px #c0c0c0;">概要</th>
					<td th:text="${hospital.overview}" colspan="5"
						style="border-right: solid 2px #c0c0c0;"></td>
				</tr>

				<tr>
					<th style="margin: 20%"></th>
				</tr>

			</tbody>
		</table>

	</form>

	<!-- 共通フッタ -->
	<footer style="height: 250px; background-color: #696969">
		<a href="#" class="btn btn-secondary"
			style="width: 100%; height: 50px; font-size: 25px;">↑</a><br> <br>
		<article>
			<div class="content" style="font-size: 15px">
				<p style="color: white; text-align: center;">学校法人電子開発学園
					北海道情報専門学校</p>
				<p style="color: white; text-align: center;">所在地： 〒003-0806
					北海道札幌市白石区菊水６条３丁目４−２８</p>
				<p style="color: white; text-align: center;">tel： 011-831-5511</p>
			</div>
			<div class="side">
				<img alt="/img/favicon.ico" src="/img/病院.png"
					style="width: 200px; height: 150px; margin-right: 30%">
			</div>
		</article>
	</footer>
</body>
</html>