/*
 共通のCSS設定を記載.
 1ページにしか使わない設定は、各html内で直接styleタグで指定する.
 */
body {
	background: linear-gradient(to bottom, #e0ffff, #afeeee, #e0ffff);
}

label {
	font-family: 'ＭＳ 明朝';
}

a {
	font-family: 'ＭＳ 明朝';
}

h1 {
	font-family: 'ＭＳ 明朝';
}

.h2_main {
	padding: 1rem 2rem;
	color: #000;
	background: #add8e6;
	-webkit-box-shadow: 5px 5px 0 #87ceeb;
	box-shadow: 5px 5px 0 #87ceeb;
	font-family: 'ＭＳ 明朝';
}

.input-form {
	margin: 2px auto;
	max-width: 600px;
}

.input-box {
	margin-bottom: 30px;
}

.box {
	margin: auto;
	width: 50%;
	height: 50%;
	background-color: #FFFFFF;
	text-align: center;
}

.side {
	width: 30%;
	text-align: left;
}

.content {
	width: 70%;
	text-align: left;
}

article {
	display: flex; /*サイドバーとメインコンテンツを横並びにする指定をした*/
}

.modal-open {
	padding-right: 0px !important;
}

.text-map {
	width: 30em;
}