/*
 共通のCSS設定を記載.
 1ページにしか使わない設定は、各html内で直接styleタグで指定する.
 */
body {
	 background   : linear-gradient(to bottom, #e0ffff,#afeeee, #e0ffff);
}

.input-form {
	margin: 2px auto;
	max-width: 600px;
}

.input-box {
	margin-bottom: 30px;
}

.box {
  margin       : auto;
  width        : 50%;
  height       : 50%;
  background-color: #FFFFFF;
  text-align: center;
}

h1 {
	font-family: 'ＭＳ 明朝';
}

button{
	font-family: 'ＭＳ 明朝';
}

.side {
  width:30%;
  height:300px;
  text-align:center;
  margin-left:10px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
  margin-right: 10px;
}

.content {
  width:70%;
  height:300px;
  text-align:left;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}

label {
	font-family: 'ＭＳ 明朝';
}
