table {
	width: 70%;
	border-spacing: 0;
	text-align: l;
	font-family: 'ＭＳ 明朝';
	margin: auto;
}

table th {
	width: auto;
	padding: 10px 0;
	font-size: 20px;
}

table td {
	width: auto;
	padding: 10px 0;
	font-size: 18px;
}