<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>病院予約システム トップ</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
<link rel="stylesheet" th:href="@{/css/han.css}"
	href="../static/css/han.css">
<link rel="stylesheet" th:href="@{/css/button.css}"
	href="../static/css/buttan.css">

</head>
<body>
	<!-- 共通ヘッダ -->
	<header style="height: 300px; background-color: #00bfff;">
		<label style="font-size: 50px; margin-top: 50px; text-align: left;">病院予約システム</label>
	</header>

	<!-- ハンバーガーメニュー -->
	<input type="checkbox" id="check">
	<span class="span1 han_span"></span>
	<span class="span2 han_span"></span>
	<span class="span3 han_span"></span>
	<label class="han_label" for="check"></label>
	<ul>
		<li><form class="my-2 my-lg-0" method="post"
				th:action="@{/logout}">
				<button type="submit"
					style="width: 75%; height: 25%; font-size: 30px; background-color: #FFFFFF">Logout</button>
			</form></li>
		<li><button type="submit"
				style="width: 75%; height: 25%; font-size: 30px; background-color: #FFFFFF">ユーザ管理</button></li>
		<li><button type="submit"
				style="width: 75%; height: 25%; font-size: 30px; background-color: #FFFFFF">ほにゃらら管理</button></li>
	</ul>

	<!-- コンテンツ -->
	<br>
	<article>
		<div class="content">
			<h1 style="margin-left: 30px; opacity: 0.8;">予約機能</h1>
		</div>
		<div class="side">
			<br> <a href="" class="btn btn--circle"><img
				alt="/img/予約一覧画像.png" src="/img/予約一覧用画像.png"
				style="width: 200px; height: 100px;"></a>
		</div>
	</article>
	<hr style="background-color: #dcdcdc;">
	<article>
		<div class="content">
			<h1 style="margin-left: 30px; opacity: 0.8;">診断機能</h1>
		</div>
		<hr style="background-color: #dcdcdc;">
		<div class="side">
			<br> <a href="" class="btn btn--circle"><img
				alt="/img/予約一覧画像.png" src="/img/予約一覧用画像.png"
				style="width: 200px; height: 100px;"></a>
		</div>
	</article>
	<hr style="background-color: #dcdcdc;">
	<article>
		<div class="content">
			<h1 style="margin-left: 30px; opacity: 0.8;">履歴機能</h1>
		</div>
		<div class="side">
			<br> <a href="" class="btn btn--circle"><img
				alt="/img/予約一覧画像.png" src="/img/予約一覧用画像.png"
				style="width: 200px; height: 100px;"></a>
		</div>
	</article>
	<hr style="background-color: #dcdcdc;">
	<footer style="height: 300px;"> </footer>

</body>
</html>