<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>病院予約システム トップ</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
<link rel="stylesheet" th:href="@{/css/han.css}"
	href="../static/css/han.css">
<link rel="stylesheet" th:href="@{/css/button.css}"
	href="../static/css/buttan.css">


</head>
<body>
	<!-- 共通ヘッダ -->
	<header
		style="background: url('https://www.sozailab.jp/db_img/sozai/59040/7810c966292d01f519def4999176278d.jpg'); height: 600px;">
		<label style="font-size: 60px; margin-top: 200px; margin-left: 35%;">病院予約</label><br>
		<label style="font-size: 60px; margin-left: 45%;">システム</label>
	</header>
	<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
	<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>
	<a href="" class="btn btn-flat" style="width: 33%;"><span>ほにゃらら機能へ</span></a>

	<!-- ハンバーガーメニュー -->
	<input type="checkbox" id="check">
	<span class="span1 han_span"></span>
	<span class="span2 han_span"></span>
	<span class="span3 han_span"></span>
	<label class="han_label" for="check"></label>
	<!-- 管理者メニュー -->
	<ul>
		<li><a href="/logout" class="btn btn-flat"
			style="width: 100%; font-size: 30px;"><span>logout<img
					alt="/img/ログアウト用アイコン.png" src="/img/ログアウト用アイコン.png"
					style="height: 30px;"></span></a></li>
		<li><div role="presentation"
				sec:authorize="hasAuthority('ADMIN')">
				<a href="/userList" class="btn btn-flat"
					style="width: 100%; font-size: 30px;"><span>ユーザ情報<img
						alt="/img/ユーザ管理画像.png" src="/img/ユーザ管理用画像.png"
						style="height: 30px;"></span></a>
			</div></li>
		<li><div role="presentation"
				sec:authorize="hasAuthority('GENERAL')">
				<a href="/userList/UserManagement" class="btn btn-flat"
					style="width: 100%; font-size: 30px;"><span>ユーザ情報<img
						alt="/img/ユーザ管理画像.png" src="/img/ユーザ管理用画像.png"
						style="height: 30px;"></span></a>
			</div></li>
		<li><div role="presentation"
				sec:authorize="hasAuthority('ADMIN')">
				<a href="/hospital/management" class="btn btn-flat"
					style="width: 100%; font-size: 30px;"><span>病院管理<img
						alt="/img/病院管理画像.png" src="/img/病院管理用画像.png" style="height: 30px;"></span></a>
			</div></li>
		<li><div role="presentation"
				sec:authorize="hasAuthority('HOSPITAL')">
				<a href="/hospital/detail" class="btn btn-flat"
					style="width: 100%; font-size: 30px;"><span>病院管理<img
						alt="/img/病院管理画像.png" src="/img/病院管理用画像.png" style="height: 30px;"></span></a>
			</div></li>
	</ul>

	<!-- コンテンツ -->
	<br>
	<br>
	<h2 style="opacity: 0.8; font-size: 35px;" class="h2_main">
		<b>予約機能</b>
	</h2>
	<p style="font-size: 25px; margin: 10%">予約機能の説明文：病院一覧から病院を選択して、予約できます。また、病院名・住所・診療科を指定して病院を検索することができます。</p>
	<a href="/hospitalList" class="btn btn-3d-flip"> <span
		class="btn-3d-flip-box"> <span
			class="btn-3d-flip-box-face btn-3d-flip-box-face--front"><img
				alt="/img/予約一覧画像.png" src="/img/予約一覧用画像.png"
				style="width: 90px; height: 30px;"><i
				class="fas fa-angle-right fa-position-right"></i></span> <span
			class="btn-3d-flip-box-face btn-3d-flip-box-face--back"
			style="font-size: 20px">予約・病院一覧画面へ</span>
	</span>
	</a>
	<hr style="background-color: #dcdcdc;">
	<h2 style="opacity: 0.8; font-size: 35px;" class="h2_main">
		<b>診断機能</b>
	</h2>
	<p style="font-size: 25px; margin: 10%">診断機能の説明文</p>
	<a href="" class="btn btn-3d-flip"> <span class="btn-3d-flip-box">
			<span class="btn-3d-flip-box-face btn-3d-flip-box-face--front"><img
				alt="/img/診断用画像.png" src="/img/診断用画像.png"
				style="width: 90px; height: 30px;"><i
				class="fas fa-angle-right fa-position-right"></i></span> <span
			class="btn-3d-flip-box-face btn-3d-flip-box-face--back"
			style="font-size: 20px">診断画面へ</span>
	</span>
	</a>
	<hr style="background-color: #dcdcdc;">
	<h2 style="opacity: 0.8; font-size: 35px;" class="h2_main">
		<b>履歴機能：過去の予約を確認することができます。</b>
	</h2>
	<p style="font-size: 25px; margin: 10%">履歴機能の説明文</p>
	<a href="/reservationsList" class="btn btn-3d-flip"> <span
		class="btn-3d-flip-box"> <span
			class="btn-3d-flip-box-face btn-3d-flip-box-face--front"><img
				alt="/img/履歴用画像.png" src="/img/履歴用画像.png"
				style="width: 90px; height: 30px;"><i
				class="fas fa-angle-right fa-position-right"></i></span> <span
			class="btn-3d-flip-box-face btn-3d-flip-box-face--back"
			style="font-size: 20px">履歴画面へ</span>
	</span>
	</a>
	<br>

	<!-- 共通フッタ -->
	<footer style="height: 250px; background-color: #696969">
		<a href="#" class="btn btn-secondary"
			style="width: 100%; height: 50px; font-size: 25px;">↑</a><br> <br>
		<article>
			<div class="content" style="font-size: 15px">
				<p style="color: white; text-align: center;">学校法人電子開発学園
					北海道情報専門学校</p>
				<p style="color: white; text-align: center;">所在地： 〒003-0806
					北海道札幌市白石区菊水６条３丁目４−２８</p>
				<p style="color: white; text-align: center;">tel： 011-831-5511</p>
			</div>
			<div class="side">
				<img alt="/img/favicon.ico" src="/img/病院.png"
					style="width: 200px; height: 150px; margin-right: 30%">
			</div>
		</article>
	</footer>
</body>
</html>